@import "common/variable";
@import "common/mixin";

body {
    font: #{$fontSizeDefault}/#{$lineHeightDefault} $fontFamilyDefault;
    color: $colorDefault;
    padding: 0px;
    margin: 0px;
}

div {
    font-size: 25px;
    color: blue;
}