@import "common/variable";
@import "common/mixin";

body {
    font: #{$fontSizeDefault}/#{$lineHeightDefault} $fontFamilyDefault;
    color: $colorDefault;
    padding: 0px;
    margin: 0px;
    transition: all 1s linear;
    background: linear-gradient(to bottom, red, white);
}

div {
    font-size: 25px;
}