@import "common/variable";
@import "common/mixin";

body {
    font: #{$fontSizeDefault}/#{$lineHeightDefault} $fontFamilyDefault;
    color: $colorDefault;
    background: #ffffff;
    padding: 0px;
    margin: 0px;
}